<div class="row">
  <div class="column column-20"><strong>ID</strong></div>
  <div class="column column-25"><strong>Name</strong></div>
  <div class="column"><strong>Command</strong></div>
  <div class="column"><strong>Status</strong></div>
</div>
{% for row in docker %}
<div class="row">
  <div class="column column-20">{{ row.id }}</div>
  <div class="column column-25">{{ row.name }}</div>
  <div class="column">{{ row.command }}</div>
  <div class="column">Up {{ row.uptime }}</div>
</div>
{% endfor %}
